#!/bin/sh
# An example for building particular combinations of ParaView with
# - mpi (0 = no upper-limit on processes)
# - mesa

# mesa=mesa-11.2.2
# mesa=mesa-13.0.3
mesa=mesa-17.1.1

./makeParaView \
    -mpi=0 \
    -mesa-prefix $WM_THIRD_PARTY_DIR/platforms/$WM_ARCH$WM_COMPILER/$mesa \
    -suffix mesa \
    "$@"

#------------------------------------------------------------------------------
