#!/bin/sh
# An example for building particular combinations of VTK with
# - mesa (off-screen only)

vtk=VTK-8.1.0
# mesa=mesa-11.2.2
# mesa=mesa-13.0.3
mesa=mesa-17.1.1

./makeVTK \
    $vtk \
    -osmesa \
    -mesa-prefix $WM_THIRD_PARTY_DIR/platforms/$WM_ARCH$WM_COMPILER/$mesa \
    "$@"

#------------------------------------------------------------------------------
